@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    var TT = ViewBag.UserType;
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
     
        //var dd = Request.;
        var vUserTypeID = Request.Cookies["UserTypeID"].Value;
        
        //var vUserTypeID = 1;
    <ul class="nav navbar-nav navbar-right">
        @if (Convert.ToString(vUserTypeID)== "1")
        { 
        <li>@Html.ActionLink("New Account", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
