@model IEnumerable<WebApi.Models.PoleInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskAddeddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskPerformeddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageMapPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdjacentPoleHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransFormerLoading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagesTakenpath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoleType.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PoleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskAddeddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskPerformeddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageMapPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdjacentPoleHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransFormerLoading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagesTakenpath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoleType.TypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
